[Unit]
Description=Update fox-neat-wallpaper for running user

[Service]
Type=simple
ExecStart=/bin/bash /opt/fox-neat-wallpaper/fox-neat-wallpaper.sh update
TimeoutSec=2min

[Install]
WantedBy=default.target